<div class="row">
    <div *ngFor="let p of products"  class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src="{{p.imageUrl}}" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="#">{{p.name}}</a>
                </h4>
                <h5>{{p.price| currency:'S/ ' }}</h5>
            </div>
            <div class="card-footer">
               <button class="btn btn-outline-secondary btn-block">(+) Agregar</button>
            </div>
        </div>
    </div>
</div>
