<form #category="ngForm" role="form" id="frmregistrar" method="post" (ngSubmit)="submit(category.value)">
    <div class="container">
        <div class="row mb-2">
            <div class="col row">
                <label for="name" class="col-sm-4 col-form-label">Category Name:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control required" name="categoryName" id="name"
                    placeholder="Ingrese el nombre de la categoria" [(ngModel)]="currentCategory.categoryName" >
                    <p id="validname" class="text-danger" style="font-size: 12px;"></p>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col row">
                <label for="code" class="col-sm-4 col-form-label">Category Code:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control required" name="categoryCode" id="code"
                    placeholder="Ingrese el codigo de la categoria" [(ngModel)]="currentCategory.categoryCode">
                    <p id="validcode" class="text-danger" style="font-size: 12px;"></p>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <input type="submit" class="btn btn-success w-100" value="Listo">
            </div>
        </div>
    </div>
</form>